body {
    background: #121FCF;
    background: linear-gradient(to left, #121FCF 0%, #CF1512 100%);
}

.logo {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #b7b7b7,
                 1px 2px 0px #b7b7b7,
                 1px 3px 0px #b7b7b7,
                 1px 4px 0px #b7b7b7,
                 1px 5px 0px #b7b7b7,
                 1px 6px 0px #b7b7b7,
                 1px 10px 5px rgba(16, 16, 16, 0.5),
                 1px 15px 10px rgba(16, 16, 16, 0.4),
                 1px 20px 30px rgba(16, 16, 16, 0.3),
                 1px 25px 50px rgba(16, 16, 16, 0.2);
}